<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12">
          <h3 class="home-title">Home</h3>
        </div>
        <div class="col-12">
          <div class="new-tweet-form">
            <%= simple_form_for @tweet, remote: true do |f| %>
              <%= f.input :content, label: false %>
              <%= f.submit 'Tweet', class: 'btn btn-tweet' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <% @tweets.each do |tweet| %>
            <div class="tweet">
              <% if tweet.is_retweet %>
                <div class="retweet d-flex">
                  <i class="fas fa-retweet"></i>
                  <%= tweet.user.username %> Retweeted
                </div>
              <% end %>
              <div class="tweet-info d-flex">
                <div class="user-avatar">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
                </div>
                <div class="tweet-content w-75">
                  <div class="user-info d-flex">
                    <p class="user-info-username"><%= tweet.user.username %></p>
                    <p>@<%= tweet.user.user_account %></p>
                    <p> - <%= ((Time.now - tweet.created_at)/3600).ceil %>h</p>
                  </div>
                  <p class="tweet-content-text"><%= tweet.content %></p>
                  <div class="tweet-actions d-flex justify-content-between">
                    <div class="tweet-reply">
                      <i class="far fa-comment-dots"></i> <%= tweet.replies_count %>
                    </div>
                    <div class="tweet-retweet">
                      <i class="fas fa-retweet"></i> <%= tweet.retweets_count %>
                    </div>
                    <div class="tweet-like">
                      <i class="fas fa-heart"></i> <%= tweet.likes_count %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>